@use '../../../styles/variables' as *;

.productListContainer {
  gap: 16px;
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
}

.loadingContainer,
.errorContainer,
.emptyContainer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: var(--bg-white);
  border-radius: 12px;
  border: 1px solid var(--stroke-sheen);

  p {
    font-size: var(--p3-size);
    color: var(--text-gentle);
  }
}

.errorContainer {
  p {
    color: var(--text-warning-bold);
  }
}
