.headerContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--stroke-sheen);
}

.navigationStyle {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 20px;
}

.menuButton {
  background-color: var(--bg-white);
  border-radius: 8px;
  border: 1px solid var(--stroke-sheen);
  height: 48px;
  width: 48px;
  display: grid;
  place-items: center;

  cursor: pointer;
}

.headerGroup {
  display: flex;
  gap: 16px;
}

.imageContainer {
  width: 44px;
  height: 44px;
  position: relative;
  cursor: pointer;
}

.imageStyle {
  object-fit: contain;
  border-radius: 50%;
}

.mobileBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: var(--z-fixed);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  background: var(--bg-white);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 1000;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &.active {
    left: 0;
  }
}

/* Mobile Navigation Links */
.mobileNav {
  list-style: none;
  // margin-top: 3rem;

  background-color: red;

  button {
    color: var(--black);
    font-size: 1.5em;
    font-weight: 500;
    padding: 1.8rem 0;
    display: flex;
    align-items: center;
  }
}
