.mainContainer {
  border-radius: 16px;
  border: 1px solid var(--stroke-sheen);
  padding: 20px;
  background-color: var(--bg-white);
  height: 100%;
}

.titleText {
  font-size: var(--p1-size);
  font-weight: var(--text-semi-bold);
  color: var(--text-bold);
  margin-bottom: 12px;
}
