@use '../../../../styles/variables.scss' as *;

.boxContainer {
  background-color: var(--bg-white);
  border-radius: 16px;
  padding: 20px;
  border: 1px solid var(--stroke-sheen);
}

.valueText {
  color: var(--text-bold);
  margin-bottom: 16px;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleText {
  font-size: var(--p4-size);
  font-weight: var(--font-medium);
  color: var(--text-gentle);
  margin-bottom: 10px;
}

.trendGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.trendContainer {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding: 5px 8px;
  gap: 4px;
  border-radius: 50px;
  background-color: var(--bg-success-pale);
}

.trendUpIcon {
  color: var(--text-success-bold);
}

.trendText {
  color: var(--text-success-bold);
  font-size: var(--p5-size);
  font-weight: var(--font-semi-bold);
}

.trendDownColor {
  background-color: var(--bg-warning-pale);
}

.trendDownTextColor {
  color: var(--text-success-bold);
}

.textSubs {
  font-size: var(--p5-size);
  font-weight: var(--font-regular);
  color: var(--text-gentle);
}
