@use '../../../styles/variables' as *;

.mainContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(100px, 1fr);
  height: 100%;

  @include min-width(xs) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  }
}
