.mobileBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: var(--z-fixed);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 236px;
  height: 100vh;
  background: var(--bg-white);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 1000;
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.active {
    left: 0;
  }
}

.logoContainer {
  width: 150px;
}

.linkStyle {
  display: flex;
  gap: 12px;

  color: var(--text-bold);
  padding: 12px;
  font-size: var(--p4-size);
  font-weight: var(--font-medium);
  border-radius: 8px;

  &:hover {
    background-color: var(--bg-primary-pale);
    color: var(--text-primary-normal);
  }
}

.activeLink {
  background-color: var(--bg-primary-pale);
  color: var(--text-primary-normal);
}

.linkContainer {
  display: grid;
  gap: 16px;
  margin-top: 40px;
}

.logoutButton {
  display: flex;
  gap: 12px;
  padding: 12px;
  font-size: var(--p4-size);
  font-weight: var(--font-medium);
  border-radius: 8px;
  width: 100%;

  color: var(--text-warning-bold);

  &:hover {
    background-color: var(--bg-warning-pale);
  }
}
