@use '../../../styles/variables' as *;

.mainContainer {
  min-height: 100vh;
  background-color: var(--bg-pale);
  padding-top: var(--header-height);
  padding-bottom: var(--header-height);
  margin: 20px;
}

.headerGroup {
  margin-bottom: 24px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.buttonSubGroup {
  display: flex;
  gap: 12px;
}

.titleTextContainer {
  display: grid;
  gap: 6px;
  margin-bottom: 24px;

  h5 {
    font-weight: var(--font-bold);
    color: var(--text-bold);
  }

  p {
    color: var(--text-gentle);
    font-size: var(--p4-size);
    font-weight: var(--font-regular);
  }
}

.calendarButton {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--bg-white);
  border: 1px solid var(--stroke-sheen);
  cursor: pointer;
}

.widgetButton {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--bg-white);
  border: 1px solid var(--stroke-sheen);
  cursor: pointer;

  p {
    display: none;
    font-size: var(--p4-size);
    font-weight: var(--font-medium);
    color: var(--text-bold);

    @include min-width(sm) {
      display: block;
    }
  }
}

.addButton {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--bg-primary-normal-constant);
  border: 1px solid var(--bg-primary-normal-constant);
  color: var(--text-white-constant);
  cursor: pointer;
}

.contentGroup {
  display: grid;
  gap: 20px;
  grid-template-areas:
    'trend'
    'product'
    'topSelling'
    'recent';

  @include min-width(md) {
    grid-template-areas:
      'product product trend trend'
      'product product trend trend'
      'topSelling topSelling recent recent'
      'topSelling topSelling recent recent';
  }

  @include min-width(lg) {
    grid-template-areas:
      'product product trend'
      'product product trend'
      'topSelling recent recent'
      'topSelling recent recent';
  }
}

.trendSection {
  grid-area: trend;
  min-width: 100px;
  min-height: 100px;
}

.productSalesChart {
  grid-area: product;
  min-width: 100px;
  min-height: 100px;
}

.topSellingProductTable {
  grid-area: topSelling;
  min-width: 100px;
  min-height: 100px;
}

.recentOrderTable {
  grid-area: recent;
  min-width: 100px;
  min-height: 100px;
}
